/* * { box-sizing: border-box; } */
/* */
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
} 

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.homepage-background {
  background: no-repeat center/cover url('/static/img/Yosemite-National-Park-River.jpg');
  height: 100%
}

.trail-background {
  background: no-repeat center/cover url('/static/img/mountains.jpg');
}

.userprofile-background {
  background: no-repeat center/cover url('/static/img/autumn-leaves.jpg');
}

.trails-background {
  background-color: #e6eec7;
}

.parks-background {
  background-color: #e0dae2;
}

.card {
  color: #414d5e;
  background-color:#f8f8ef;
}

.flash-msg {
  background-color: #f0f0df;
}

img.map{
  width: 3em;
  height: 2em;
}

.map, #map {
  width: 1700px;
  height: 800px;
}

.card-title {
  font-style: italic;
  color: #627250;
}

.card-header {
  font-style: italic;
  color: #59644c;
}

/* .mystery-div {
  height: 100%;
} */