/* * { box-sizing: border-box; } */
/* */
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
} 

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.homepage-background {
  background: no-repeat center/cover url('/static/img/Yosemite-National-Park-River.jpg');
  height: 100%
}

.trail-background {
  background: no-repeat center/cover url('/static/img/mountains.jpg');
  height: 100%
}

.userprofile-background {
  background: no-repeat center/cover url('/static/img/seamless-pattern.jpg');
  height: 100%
}

.card {
  color: #414d5e;
  background-color:#f8f8ef;
}

img.map{
  width: 3em;
  height: 2em;
}

.map, #map {
  width: 1700px;
  height: 800px;
}

/* .mystery-div {
  height: 100%;
} */