{% extends "base.html" %}

{% block title %}National Park Hiking Trail{% endblock %}

{% block body %}

  <h1>Welcome!</h1>

  <h2>Navigation</h2>
  <ul>
      <li><a href="/trails">View trails by trails' names</a></li>
      <li><a href="/parks">View trails by parks</a></li>
      <li><a href="/users">View all users</a></li>      
  </ul>

  <h2>Log in</h2>

  <form action="/login" method="POST">
    <p>
        Email <input type="text" name="email">
    </p>
    <p>
        Password <input type="text" name="password">
    </p>
    <p>
        <input type="submit">
    </p>
  </form>
  <br>
  <p>
    If you do not have an acount, please sign up.
  </p>
  <h3>Create an Account</h3>

  <form action="/users" method="POST">
    <p>
        Email <input type="text" name="email">
    </p>
    <p>
        First Name <input type="text" name="first_name">
    </p>
    <p>
        Last name <input type="text" name="last_name">
    </p>
    <p>
        Password <input type="text" name="password">
    </p>
    <p>
        <input type="submit">
    </p>        
  </form>
{% endblock %}