{% extends 'base.html' %}

{% block title %}{{ trail.name }} - Details{% endblock %}
{% block head %}
{% endblock head %}

{% block body %}

<section class="container-fluid trail-background">     

    <div class="card" style="width: 32rem;">
        <h3 class="card-header" id="trail_name">{{ trail.name }}</h3>
            <div class="card-body">            
                <p class="card-text" id="id">{{ trail.trail_id }}</p>
                <p class="card-text">
                    Park: {{ trail.park }}
                </p>
                <p class="card-text">
                    City: {{ trail.city }}
                </p>
                <p class="card-text">
                    State: {{ trail.state }}
                </p>
                <p class="card-text">
                    Popularity: {{ trail.popularity }} 
                </p>
                <p class="card-text">
                    Length: {{ trail.length }}
                </p>
                <p class="card-text">
                    Evlevation: {{ trail.elevation }}
                </p>
                <p class="card-text">
                    Difficulty: {{ trail.difficulty }}
                </p>
                <p>
                    Average Rating: {{ trail.avg_rating }} 
                </p>
                <p class="card-text">
                    Features: {{ trail.features }}
                </p>
                <p class="card-text">
                    Activities: {{ trail.activities }}
                </p>

                <p class="card-text">View Map:     
                    <a href="/trails/{{ trail.trail_id }}/map" class="card-link"><img alt="google_map" class="map" src="/static/img/map.png"></a>
                </p>
        </div>
    </div>
    <div class="card" style="width: 32rem;">
        <div class="card-body">    
        <h4 class="card-title">Current Weather</h4>
        <img alt="weather_img" src="{{ icon }}">

            <table class="table">
                <thead>
                    <tr>
                        <th>temp</th>
                        <th>condition</th>
                        <th>wind</th>
                        <th>humidity</th>
                        <th>vis</th>
                        <th>uv</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{temp}}</td>
                        <td>{{condition}}</td>
                        <td>{{wind}}</td>
                        <td>{{humidity}}</td>
                        <td>{{vis}}</td>
                        <td>{{uv}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

        {% if session.get('user_email') %}
        <div class="card" style="width: 32rem;">
            <div class="card-body">
                <h4 class="card-title">Rate this trail</h4>
                <form id= "rating_form" method="POST">
                    <p>
                        <label for="rating">Rating:</label>
                        <select name="rating" id="rating">
                            <option value="">Select rating</option>
                            {% for num in range(6) %}
                                <option value="{{ num }}">{{ num }}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <p>
                    <label>Comment:</lable>
                    <input type="text" name="comment" id="comment">
                    </p>        
                    <p><input type="submit"></p>
                </form>
            </div>
        

        {% endif %}

        <div>
        <ul id="user_rating"></ul>
        </div>
        <script src="/static/js/test_submit.js"></script>
        </div>
    </section>

{% endblock %}