{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}

{% block head %}
<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js">
</script>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script
{% endblock head %}

{% block body %}
{% if session.get('user_email') %}
    <h1>User Profile</h1>
    <br>
    <h5>
        User name: {{ user.first_name }} {{ user.last_name }}
    </h5>
    <h5>
        User email: {{ user.email }}
    </h5>
      <br>
      <div id="root"></div>
      <script src = "/static/js/App.jsx" type="text/jsx"></script>
      <h5>Comment History</h5>
        <div>
        {% for rating in ratings %}
            <p>Trail Name: {{ rating.trail.name }}</p>
            <p>Park: {{ rating.trail.park }}</p>
            <p>Rating: {{ rating.score }}<p>
            <p>Comment: {{ rating.comment }}</p>
            <br>
        {% endfor %}
        </div>
{% endif %}
{% endblock %}
